* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#messages {
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 100px;
    overflow: auto;
    position: absolute; 
    top: 440px;
    left: 20px;
    border: 2px solid;
    list-style-type: none;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#sendefenster {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#sendefenster input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

#sendefenster button {
    width: 9%;
    background: rgb(250, 224, 255);
    border: none;
    padding: 10px;
}

#malerliste {
    position: absolute;
    list-style-type: decimal;
    top: 50px;
    right: 10px;
    padding: 0;
    width: 10%;
    height: auto;
    border: 3px green solid;
    vertical-align: text-top;
}

#malerliste li {
    padding: 5px 10px;
}

#malbereich{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 400px;
    height: 400px;
    border: 2px solid;
    border-color: darkviolet;
}

#login {
    width: 300px;
    height: 230px;
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 50px auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .8);
}

#login #Anmeldetitel {
    width: 300px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
    text-align: center;
    color: #bfbfbf;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 1px;
    margin-bottom: 30px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-family: Arial;
}

#login input {
    width: 200px;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
    border: none;
    border-top: #0b0b0b solid 1px;
    border-bottom: #353535 1px solid;
    color: #bfbfbf;
    background: #141414;
    outline: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#login button {
    width: 200px;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    border: none;
    border-top: #4eb2a8 1px solid;
    border-bottom: #161616 1px solid;
    background: #349e92;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#rateboard {
    position:absoulte;
    width: 300px;
    height: 50px;
    overflow: hidden;
    margin-top: 90px;
    margin-left: 550px;
    border: 2px solid;
}