* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font: 13px Helvetica, Arial;
    height: 100%;
    width: 100%;
    overflow:scroll;
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

#loginrahmen{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(GuessWhatLogoYeah.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #FAFAFC;
}

#login {
    position: absolute;
    width: 30%;
    height: 20%;
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 6px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .8);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 35%;
    
}

#login #Anmeldetitel {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 2%;
    margin-bottom: 4%;
    font-family: Arial;
}

#login input {
    width: 60%;
    font-size: 1em;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    margin-left: 20%;
    margin-bottom: 3%;
    border: none;
    border-top: #0b0b0b solid 2%;
    border-bottom: #353535 2% solid;
    color: #bfbfbf;
    background: #141414;
    outline: none;
    border-radius: 6px;
}

#login button {
    width: 40%;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 6px;
    border: none;
    border-top: #4eb2a8 2% solid;
    border-bottom: #161616 2% solid;
    background: #349e92;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#rahmen {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#header {
    height: 50px;
    background-image: url(GuessWhatLogoYeah.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#main{
    flex: 1;
    background-color: lightpink;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#footer{
    height: 30px;
    background-color: aqua;
}

#messages {
    width: auto;
    height: auto;
    height: 250px;
    overflow: auto;
    margin-top: 20px;
    border: 2px solid;
    list-style-type: none;
    padding: 0;
    clear: both;
}

#messages li {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2%;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#chat{
    padding: 3px;
    bottom: 0%;
    width: 55%;
    height: 20%;
    margin-left: 5%;
    margin-top: 0%;

}

#sendefenster {
    background: #1e1e1e;
    padding: 3px;
    bottom: 0;
    height: 20%;
}

#sendefenster input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

#sendefenster button {
    width: 9%;
    background: rgb(250, 224, 255);
    border: none;
    padding: 10px;
}

#malerlistenbereich {
    width: 15%;
    height: auto;
    max-height: 350px;
    border: 3px chartreuse solid;
    overflow: hidden;
    margin-left: 73%;
    margin-right: 7%;
    margin-top: 5%;
    position: absolute;
    float: right;
    
}

#malerliste {
    list-style-type: decimal;
    list-style-position: inside;
}

#malerliste li {
    padding: 5px 10px;
}

#malbereich{
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
    height: 50%;
    border: solid 3px;
    border-color: chartreuse;
    margin-top: 5%;
    padding: 0%;
    
}

#leinwand{
    width: 100%;
    height: 100%;
}


#rateboard {
    
    width: 20%;
    height: 10%;
    overflow: hidden;
    margin-top: 5%;
    border: grey solid 2px;
    position: absolute;
    float: left;
}