* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font: 13px Helvetica, Arial;
    height: 100%;
    width: 100%;
    overflow:scroll;
    background-image: url(GuessWhatLogoYeah.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

#login {
    position: absolute;
    width: 30%;
    height: 20%;
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 6px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .8);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 35%;
    
    
   
}

#login #Anmeldetitel {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 2%;
    margin-bottom: 5%;
    font-family: Arial;
}

#login input {
    width: 60%;
    font-size: 1em;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    margin-left: 10%;
    margin-bottom: 5%;
    border: none;
    border-top: #0b0b0b solid 2%;
    border-bottom: #353535 2% solid;
    color: #bfbfbf;
    background: #141414;
    outline: none;
    border-radius: 6px;
}

#login button {
    width: 200px;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    border: none;
    border-top: #4eb2a8 1px solid;
    border-bottom: #161616 1px solid;
    background: #349e92;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#rahmen {
    margin: 5% auto;
    height: 95%;
    width: 90%;
}


#messages {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 300px;
    overflow: auto;
    margin-top: 20px;
    border: 2px solid;
    list-style-type: none;
    padding: 0;
    clear: both;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#sendefenster {
    background: #000;
    padding: 3px;
    bottom: 0;
    width: 100%;
}

#sendefenster input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

#sendefenster button {
    width: 9%;
    background: rgb(250, 224, 255);
    border: none;
    padding: 10px;
}

#malerlistenbereich {
    padding: 0;
    width: 15%;
    height: auto;
    max-height: 350px;
    border: 3px green solid;
    overflow: hidden;
    float: right
}

#malerliste {
    list-style-type: decimal;
    list-style-position: inside;
}

#malerliste li {
    padding: 5px 10px;
}

#malbereich {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 400px;
    border: 2px solid;
    border-color: darkviolet;
    float: left;
}

#rateboard {
    float: right;
    clear: right;
    width: 300px;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
    border: 2px solid;
}